[submodule "python/langgen"]
	path = python/langgen
	url = https://github.com/ftomassetti/langgen.git
	branch = master
[submodule "python/lands"]
	path = python/lands
	url = https://github.com/ftomassetti/lands.git
	branch = master
